@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: auto;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    background: #92a3f9;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 8px #0730fe;
    padding: 50px;
}

h1 {
    font-family: "Zalando Sans", sans-serif;
    font-size: 50px;
}

h2,
h3 {
    font-family: "Zalando Sans", sans-serif;
}

p {
    color: #000000;
    font-family: "Schibsted Grotesk", sans-serif;

}

.bi{
    color: #F7F7F7;
}

#menu-principal {
    list-style-type: none;
    display: flex;
}

nav {
    overflow: hidden;
    padding: 20px 0;
}

#menu-principal a {
    text-decoration: none;
    color: #9206ce;
    font-size: 25px;
    font-weight: bolder;
    padding: 8px;
}

#menu-principal a:hover {
    color: #ffffff;
    background-color: #9206ce;
}

#foto-perfil {
    width: 300px;
    border-radius: 10px;
    float: right;
}

main {
    overflow: hidden;
}

section {
    overflow: hidden;
}

#proyectos {
    padding: 20px 30px;
    border-top: solid 5px #373de8;
    margin-top: 30px;
    text-align: center;
}

#lista-proyectos {
    display: flex;
}

.proyecto {
    width: 33%;
    margin-top: 20px;
}

.proyecto img {
    width: 90%;
    border-radius: 15px;
    margin-top: 10px;
}

.proyecto p {
    text-align: justify;
    padding: 10px 20px;
    color: #0730fe;
}

.proyecto h3 {
    color: #3e964b;
    font-weight: lighter;
}

#habilidades {
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-top: solid 5px #dddddd;
    margin-bottom: 30px;
}

progress {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px 0;
}

.lista-tecnologias {
    list-style: none;
    display: flex;
    margin-left: 0;
    gap: 15px;
}

.lista-tecnologias li {
    background-color: #3498db;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 25px;
    text-align: center;
}

#contacto{
    padding: 40px;
}

.campos{
    width: 70%;
    clear: both;
    font-size: 28px;
}

.campos label{
    padding-right: 20px;
}

.campos input, select{
    padding: 10px;
    border: solid 2px #187a9b;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
}

.campos button{
    background-color: #4f5be0;
    color: #ffffff;
    border: none;
    font-size: 28px;
    padding: 10px 30px;
    border-radius: 10px;
}

.campos .opciones{
    width: 20px;
}

footer{
    overflow: hidden;
    padding: 40px 0;
    background-color: #5f74ec;
    text-align: center;
    border-top: solid 5px #06c7ce;
}